body{
  background-image: url('https://media.istockphoto.com/vectors/welcome-inscription-hand-drawn-lettering-greeting-card-with-design-vector-id816807384?k=6&m=816807384&s=612x612&w=0&h=Nl_Vnf74_Fm_U6gO9GDpgmDQXtouWCqNnmTc-j6sOS8=');
  width: 45%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}